[Desktop Entry]
Type=Application
Version=1.0
Name=haru
GenericName=Live Wallpapers
Comment=Animated and interactive wallpapers from the Wallpaper Engine Workshop
Exec=haru
TryExec=haru
Icon=haru
Terminal=false
StartupNotify=true
StartupWMClass=haru
Categories=Graphics;Viewer;
Keywords=wallpaper;wallpapers;live wallpaper;animated wallpaper;video wallpaper;wallpaper engine;workshop;steam;kirie;background;desktop;screensaver;

Actions=Library;Workshop;Settings;

[Desktop Action Library]
Name=Library
Exec=haru library

[Desktop Action Workshop]
Name=Workshop
Exec=haru workshop

[Desktop Action Settings]
Name=Settings
Exec=haru settings
